<div class="footer">
  <div class="container">
    <div>&copy; 2017 <strong>Decred</strong></div>
    <div style="color: #C4CBD2; font-size: 12px;">
      <p>Decred 是整个去中心化发展过程中孕育出的下一代加密货币! 它同时是一个去中心化的自治组织，the DAO!</p>
    </div>
  </div>
</div>
