<div class="footer">
  <div class="container">
	  <div style="margin-bottom: 20px; text-align: center;"><span style="display: inline-block; padding: 2px 5px 1px; background-color: #C4CBD2; color: #fff; border-radius: 3px;">QQ群: <strong>258-412-796<sup>(1 群)</sup></strong>, <strong>513-227-294<sup>(2 群)</sup></strong>, <strong>611-261-720<sup>(挖矿)</sup></strong></span></div>
	  <div class="site-links">
	  	<a href="https://decred.org/zh" target="_blank">官网</a>
		<a href="https://mainnet.decred.org/" target="_blank">区块浏览器</a>
		<a href="https://stats.decred.org/" target="_blank">网络状态</a>
		<a href="https://voting.decred.org/" target="_blank">投票面板</a>
		<a href="https://decred.org/zh/downloads/" target="_blank">下载<span class="arrow hide">&#x25BC;</span></a>
		<a href="https://github.com/decred" target="_blank">开发者</a>
		<a href="http://docs.getdecred.org" target="_blank">中文文档</a>
		<a href="https://reddit.com/r/decred/" target="_blank">Reddit 社区</a>
		<a href="https://decred.slack.com/" target="_blank">Slack 社区</a>
	  </div>
    <div style="color: #C4CBD2; font-size: 13px; text-align: center;">
      <p style="margin: 0 auto 5px; font-size: 14px; max-width: 400px; line-height: 1.25; font-style: italic;">Decred 正在构建一个全球通用的稳健<span>货币</span>，基于强大的去中心化分类账技术以及社区领导的共识治理机制。</p>
    </div>
    <div style="color: #C4CBD2;">&copy; 2017 <strong>dcr66.com</strong></div>
  </div>
</div>
