<div class="app-stats hide">
  <table class="hide" style="width: 100%;">
    <thead>
      <tr>
        <th>币种</th>
        <th>价格/btc</th>
        <th>价格/美元</th>
        <th>价格/元</th>
        <th>24h 交易量/美元</th>
      </tr>
    </thead>
    <tbody>
      <tr class="hide">
        <td>BTC</td>
        <td>1.0</td>
        <td>5609.38</td>
        <td>36881.11</td>
        <td>3728170000.0</td>
      </tr>
      <tr class="hide">
        <td>ETH</td>
        <td>0.0613785</td>
        <td>345.005</td>
        <td>2268.373</td>
        <td>1212670000.0</td>
      </tr>
      <tr class="hide">
        <td>LTC</td>
        <td>0.0106587</td>
        <td>59.7741</td>
        <td>393.0087</td>
        <td>527105000.0</td>
      </tr>
      <tr class="hide">
        <td>DCR</td>
        <td>0.00488902</td>
        <td>27.4634</td>
        <td>180.5691</td>
        <td>979148.0</td>
      </tr>
    </tbody>
  </table>

  <table>
    <tbody>
      <tr>
        <th>当前价格</th>
        <td>0.00488902 BTC</td>
        <td>27.4634 USD</td>
        <td>180.5691 RMB</td>
      </tr>
      <tr class="hide">
        <td>979148.0 USD</td>
      </tr>
    </tbody>
  </table>
</div>
