%form-hint {
  color: $secondary-text-color;
}

.form-inputs {
  .hint {
    @extend %form-hint;
  }
  .error {
    @extend %thredded--alert;
    @extend %thredded--alert--danger;
    display: block;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.thredded--form label, form label {
  font-weight: 400;
}

.field .help {
  font-size: 14px;
  color: #596d81;
}

.form-hint {
  @extend %form-hint;
}

.form-inputs .input,
.form-actions {
  margin: 1rem 0;
}

button, input[type="submit"] {
  @extend %thredded--button;
}

form {
  @extend %thredded--form;
}
