@import "./header/theme_selector";

.app-header {
  @include clearfix;
  font-size: 14px;
  margin-bottom: 10px;
  // @include linear-gradient(45deg, "#2ed6a1", "#2971ff");
  // background-color: #2252a3;
  border-bottom: 2px solid #ddd;

  a {
    display: inline-block;
    padding: 12px 0;
  }
}

.app-nav-logo {
  display: block;
  float: left;

  color: $text-color;
  font-size: 1.15rem;
  text-decoration: none;
  font-weight: bold;
  text-indent: -9999em;
  overflow: hidden;

  width: 105px;
  margin-right: 20px;

  background: transparent image-url("decred-logo-primary_set.png") center/contain no-repeat;
  // background: transparent image-url("logo.png") center/contain no-repeat;
  position: relative;

  span {
    display: block;
    color: #c4cbd2 !important;
    text-indent: 0;
    font-weight: 400;
    position: absolute;
    top: 12px;
    right: 0;
    font-size: 9px;
  }
}

.price {
  float: left;
  font-size: 1rem;
  color: #c4cbd2;

  table {
    @include margin(0 null);
  }

  table th, table td {
    @include padding(15px null 12px);
    border-bottom: 0;
  }

  .price-green, .price-red {
    abbr {
      margin-right: 3px;
    }

    > span {
      color: #c4cbd2;
    }
  }

  .price-green {
    color: #41bf53;
    // color: #2ed8a3;
  }

  .price-red {
    color: #fd714a;
    .icon-trend {
      display: inline-block;
    }
  }
}

.app-nav-auth {
  float: right;
  margin-top: 4px;

  @include thredded-media-mobile {
    font-size: 0;

    a {
      margin-left: 0.4rem;
      font-size: 1rem;
    }
  }
}
