@import "./header/theme_selector";

.app-header {
  @include clearfix;
  font-size: 14px;
  // @include linear-gradient(45deg, "#2ed6a1", "#2971ff");
  // background-color: #2252a3;
  margin-bottom: 10px;
  border-bottom: 2px solid #ddd;

  a {
    display: inline-block;
    padding: 12px 0;
  }
}

.app-nav-logo {
  display: block;
  float: left;

  color: $text-color;
  font-size: 1.15rem;
  text-decoration: none;
  font-weight: bold;
  text-indent: -9999em;
  overflow: hidden;

  width: 105px;
  margin-right: 20px;

  background: transparent image-url("decred-logo-primary_set.png") center/contain no-repeat;
  // background: transparent image-url("logo.png") center/contain no-repeat;
  position: relative;

  span {
    // display: block;
	display: none !important;
    color: #c4cbd2 !important;
    text-indent: 0;
    font-weight: 400;
    position: absolute;
    top: 12px;
    right: 0;
    font-size: 9px;
  }
}

.price {
  float: left;
  font-size: 1.115rem;
  line-height: 1;
  color: #c4cbd2;
  height: 50px;
  position: relative;

  table {
    @include margin(0 null);
  }

  table th, table td {
    @include padding(12px null 10px);
    border-bottom: 0;
  }

  .price-green, .price-red {
    abbr {
      margin-right: 1px;
      text-decoration: none;
    }

    > span {
      color: #c4cbd2;
    }

    sub {
      // font-size: .75rem;
      // @include position(relative, 10px null null -60px);
    }
  }
  
  .change {
	  font-size: .75rem;
  }

  .price-green {
    color: #41bf53;
    // color: #2ed8a3;
  }

  .price-red {
    color: #fd714a;
    .icon-trend {
      display: inline-block;
      font-size: .9rem;
      @include position(relative, -2px null null);
    }
  }

  .text-green {
    color: #41bf53;
  }

  .text-red {
    color: #fd714a;
  }
}

.app-nav-auth {
  float: right;
  margin-top: 4px;

  @include thredded-media-mobile {
    font-size: 0;

    a {
      margin-left: 0.4rem;
      font-size: 1rem;
    }
  }
}

.cssload-loader {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: block;
	position: absolute;
	top: 15px;
	left: 0;
	vertical-align: middle;
}
.cssload-loader,
.cssload-loader:before,
.cssload-loader:after {
	animation: 1s infinite ease-in-out;
		-o-animation: 1s infinite ease-in-out;
		-ms-animation: 1s infinite ease-in-out;
		-webkit-animation: 1s infinite ease-in-out;
		-moz-animation: 1s infinite ease-in-out;
}
.cssload-loader:before,
.cssload-loader:after {
	width: 100%; 
	height: 100%;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}

.cssload-loader:before,
.cssload-loader:after {
    content: "";
}

.cssload-loader {
    background-color: white;
    animation: cssload-flower-fan 0.4s infinite linear;
		-o-animation: cssload-flower-fan 0.4s infinite linear;
		-ms-animation: cssload-flower-fan 0.4s infinite linear;
		-webkit-animation: cssload-flower-fan 0.4s infinite linear;
		-moz-animation: cssload-flower-fan 0.4s infinite linear;
}
.cssload-loader:before{
	content: "";
	width: 80%;
	height: 80%;
	background-color: white;
	top: 10%;
	left: 10%;
	box-shadow: 5px -3px 0 #2971ff,
				5px 5px 0 #2ed8a3,
				-3px 5px 0 #fd714a,
				-5px -5px 0 #2252a3;
}
.cssload-loader:after{
	content: "";
	border: 6px solid white;
	z-index: 2;
	top: -6px;
	left: -6px;
}


@keyframes cssload-flower-fan {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@-o-keyframes cssload-flower-fan {
	0%   { -o-transform: rotate(0deg); }
	100% { -o-transform: rotate(360deg); }
}

@-ms-keyframes cssload-flower-fan {
	0%   { -ms-transform: rotate(0deg); }
	100% { -ms-transform: rotate(360deg); }
}

@-webkit-keyframes cssload-flower-fan {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes cssload-flower-fan {
	0%   { -moz-transform: rotate(0deg); }
	100% { -moz-transform: rotate(360deg); }
}
