h1, h2, h3 {
  font-size: 1em;
  line-height: 1.1;
  font-weight: 400;
}

h1 {
  @include thredded-media-tablet-and-up {
    font-size: 1.25em;
  }
  @include thredded-media-desktop-and-up {
    font-size: 1.625em;
  }
}

h2 {
  @include thredded-media-tablet-and-up {
    font-size: 1.125em;
  }
  @include thredded-media-desktop-and-up {
    font-size: 1.55em;
  }
}

a {
  @extend %thredded--link;
  text-decoration: none !important;

  &:hover {
    // text-decoration: underline !important;
  }
}

tt, code, kbd, samp, pre, xmp {
  font-family: Menlo, Consolas, "Liberation Mono", Courier, monospace;
}

blockquote {
  @extend %thredded--blockquote;
}

table {
  @extend %thredded--table;
}

hr {
  @extend %thredded--hr;
}
