@import "bourbon/bourbon";
@import "variables";
@import "thredded-variables";
@import "thredded";

.thredded--main-container {
  // The padding and max-width are handled by the app's container.
  max-width: none;
  padding: 0;
  @include thredded-media-tablet-and-up {
    padding: 0;
  }
}

.thredded--post--content {
  font-size: 1rem;
  line-height: $base-line-height;
}

.hide {
  display: none !important;
}

.field {
  margin-bottom: 20px;
}

.actions {
  margin-bottom: 20px;
}

.thredded--alert,
.thredded--flash-message,
.form-inputs.error,
.flash-message {
  border-radius: 0;
}

.thredded--user-navigation {
  margin-bottom: 5px;
}

.thredded--user-navigation,
.thredded--moderation-navigation--items {
  border-bottom: 0;
}

.thredded--navigation--search input[type="search"] {
  padding: .5375rem .75rem .675rem .75rem;
}

.thredded--user-navigation--item a,
.thredded--moderation-navigation--item a {
  padding: .45rem 0;
}

// flash notice
.thredded--alert,
.thredded--flash-message,
.form-inputs .error,
.flash-message {
  padding: 4px;
  position: fixed;
  width: auto;
  top: 0;
  left: 0;
  z-index: 9999;
  border: 0;

  span {
  }
}

.thredded--alert-info,
.thredded--flash-message--notice,
.flash-message--notice {
  color: #fff;
  background-color: #69d3f5;
}

.thredded--alert-warning,
.thredded--flash-message--alert,
.flash-message--alert {
  color: #fff;
  background-color: #fd714b;
}

// Breadcrumb
.thredded--navigation--search input[type="search"]:focus,
.thredded--navigation--search input[type="search"]:not(:placeholder-shown) {
  border-color: #2971ff;
  padding: 9px 6px !important;
}

// Messageboard
.thredded--messageboard {
  text-decoration: none !important;
  padding: 29px;
  @include transition(ease .2s);

  &:hover {
    text-decoration: none !important;
    // background-color: #e7f6fc;
    border-color: #ddd #eee #eee !important;

    .thredded--messageboard--title {
      font-weight: bold;
      // text-decoration: underline !important;
    }
  }
}

.thredded--messageboard--header {
  display: block;
}

.thredded--messageboard--title {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 10px;
  // text-decoration: underline !important;
}

.thredded--messageboard--description {
  font-size: 1rem;
}

.thredded--messageboard--meta {
  text-align: left;
}

.thredded--messageboard--meta,
.thredded--messageboard--byline {
  color: #c4cbd2;
}

// Topic
.thredded--topics--topic {
  margin-bottom: 0;
  padding: 9px 0;
  @include clearfix;
}

.thredded--topics--follow-icon {
  top: 10px;
}

.thredded--topics--posts-count {
  width: 1.45rem;
  height: 1.45rem;
  line-height: 1.45rem;
  left: -4rem;
  top: 10px;
  border-radius: 100%;
}

.thredded--topic-unread > .thredded--topics--posts-count {
  font-weight: 500 !important;
  background-color: #fd714b;
}

.thredded--topic-read > .thredded--topics--posts-count {
  font-weight: 500 !important;
  background-color: #c4cbd2;
}

.thredded--topics--topic-avatar {
  float: left;
  @include size(1.65rem);
  position: absolute;
  left: -2.2rem;

  img {
    border-radius: 50%;
    position: absolute;
    &.first {
      @include size(1.65rem);
      top: 0;
      left: 0;
    }
    &.last {
      @include size(.85rem);
      bottom: 0;
      right: -3px;
    }
  }
}

.thredded--topics--title a {
  font-weight: 400 !important;
}

.thredded--topics--updated-by {
  margin-left: 5px;
}


// post
.thredded--post--user {
  font-weight: 600;
  a {
    color: #2971ff;
  }
}
