@import "variables";
@import "thredded-variables";
@import "thredded";

.thredded--main-container {
  // The padding and max-width are handled by the app's container.
  max-width: none;
  padding: 0;
  @include thredded-media-tablet-and-up {
    padding: 0;
  }
}

.thredded--post--content {
  font-size: 1rem;
  line-height: $base-line-height;
}

.field {
  margin-bottom: 20px;
}

.actions {
  margin-bottom: 20px;
}

.thredded--alert,
.thredded--flash-message,
.form-inputs.error,
.flash-message {
  border-radius: 0;
}

.thredded--user-navigation,
.thredded--moderation-navigation--items {
  border-bottom: 0;
}

.thredded--navigation--search input[type="search"] {
  padding: .5375rem .75rem .675rem .75rem;
}

.thredded--user-navigation--item a,
.thredded--moderation-navigation--item a {
  padding: .45rem 0;
}

// Messageboard
.thredded--messageboard {
  text-decoration: none !important;
  padding: 30px;
}

.thredded--messageboard--header {
  display: block;
}

.thredded--messageboard--title {
  font-size: 30px;
  line-height: 1;
  // text-decoration: underline;
}

.thredded--messageboard--description {
  font-size: 1rem;
  margin-bottom: 8px;
}

.thredded--messageboard--meta {
  text-align: left;
}

.thredded--messageboard--meta,
.thredded--messageboard--byline {
  color: #c4cbd2;
}

// Topic
.thredded--topics--topic {
  margin-bottom: 0;
  padding: 8px 0;
}

.thredded--topics--posts-count {
  border-radius: 0;
  top: 6px;
}
