$body-background-color: #fff !default;
$background-color: #fff !default;
$brand-primary: #2971ff !default;
$light-gray: #eee !default;
$text-color: #0c1e3e !default;
$secondary-text-color: rgba(opacify($text-color, 1), 0.54) !default;
$secondary-nav-color: $secondary-text-color !default;
$base-font-family: "Helvetica Neue",sans-serif !default;
// $base-font-family: 微软雅黑, "Microsoft YaHei", "Hiragino Sans GB", sans-serif !default;
$base-font-size: 1rem !default;
$base-line-height: 1.4258 !default;
$grid-container-max-width: 45rem !default;
$action-color: $brand-primary !default;
$action-hover-color: darken($brand-primary, 15%) !default;
$button-color: #fff !default;
$button-background: $action-color !default;
$button-hover-background: darken($brand-primary, 15%) !default;
$badge-active-background: $action-color !default;
